@import "../../stylesheets/sass/main.scss";

.landing-page {
  display: flex;
  flex: 1;
  align-self: normal;
  flex-direction: column;

  .banner {
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
}
