// -----------------------------------------------------------------
//  This file contains all application-wide Sass variables
// -----------------------------------------------------------------

// Colors

$black-color: #000000;
$ivory-color: #eeede7;
$gray-color: #868b8e;
$pewter-color: #b9b7bd;
$scallopseashell-color: #e7d2cc;
$red-color: #ff0000;
$athens-gray: #f4f5f7;
