@import "../../stylesheets/sass/main.scss";

.beneficiary {
  width: 250px;
  img {
    width: 250px;
  }
  .read-more {
    color: black;
    font-weight: 500;
  }

  .donation-detail {
    display: flex;
    justify-content: space-between;
  }
}
