@import "../../stylesheets/sass/main.scss";

.app-header {
  display: flex;
  justify-content: space-between;
  .greeting-title {
    display: flex;
    align-items: center;
  }
  .greeting-name {
    padding: 0 10px;
  }
  .app-logo {
    cursor: pointer;
    width: 100px;
  }
}
